
#homeBtn {
	-fx-font-size: 16;
	-fx-font-family: "Noto Sans KR Medium";
}

#mypageBtn {
	-fx-font-size: 16;
	-fx-font-family: "Noto Sans KR Medium";
}

#allTestLbl {
	-fx-font-size: 36;
	-fx-font-family: "Noto Sans KR Bold";
}